.appContentWrapper {
    display: flex;
    min-height: 100%;
    flex-direction:column;
}

.appContent {
  display: flex;
  margin: 0 auto;
  max-width: 1140px;
  width: 100%;
  flex:1;
}

.appFooter {
  margin: 2rem 0 1rem;
  text-align: center;
}
